GROQ_API_KEY=

PHOENIX_PROJECT_NAME=GOMANAI_WORKSHOP
# Use http://127.0.0.1:6006/v1/traces when running AI locally; use http://phoenix:6006/v1/traces in Docker
PHOENIX_COLLECTOR_ENDPOINT=http://127.0.0.1:6006/v1/traces

SUPABASE_URL=# http://host.docker.internal:54321
SUPABASE_ANON_KEY=
